<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <a href="/"><h1>EasyNote</h1></a>
    </header>

    <div class="hero">
        <h2>Organize Your Thoughts, Simplify Your Life</h2>
        <h3>A simple and effective way to keep track of your notes anytime, anywhere</h3>
        <a href="/posts"><button class="btn">Get Started</button></a>
    </div>
    
</body>
</html>